.timetable__schedule-place{
    color: #38424f;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    span{
        font-weight: 400;
    }
    
}

@media (width >= 916px){
    .timetable__schedule-place{
    text-align: center;
    padding-inline:30px;
    padding-block: 15px;
    background-color: #EDEDED;

    }
}