.contact__wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-inline-size: 400px;
    inline-size: 100%;
}


.contact__wrapper>.section-title{
    margin-block-end: 40px;
}

