.hero__container{
    background-image: url('../../../img/mon-bg-image.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 34px;
    padding-block: 80px 125px;
    padding-inline: clamp(1.25rem, 0.341rem + 4.545vw, 3.75rem);
}