
.timetable__date{
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-block: 8px;
}


.timetable__date:nth-child(1){
    flex-basis: 198px;
}
.timetable__date:nth-child(2){
    flex-grow: 1;
}
