
.timetable__date{
    color: #28337C;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-block-end: 20px;
}


.timetable__date:nth-child(1){
    flex-basis: 198px;
}
.timetable__date:nth-child(2){
    flex-grow: 1;
}
