.mission__container{
    align-items: center;
    display: flex;
    padding-block: 90px;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: center;
}
@media (width >=1220px){
    .mission__container{
        justify-content: inherit;
    }
}
