.timetable__schedule-list{
    display: flex;
    flex-wrap: wrap;
    margin-block-end: 25px;
    background-color: #EDEDED;
    align-items: baseline;

}
@media (width >= 768px){
    .timetable__schedule-list{
        flex-wrap: nowrap;
        margin-block-end: 0;
    }
    
}