.hero__list{
    display: grid;
    gap: 24px;
    margin-block-start: 24px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 376px));
}

.hero__list > li{
    border-radius: 8px;
    background: rgba(79, 146, 202, 0.60);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-inline: 12px;
    padding-block:8px ;   
    inline-size: 100%;
}