.audience__list{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(clamp(12.5rem, 3.75rem + 43.75vw, 30.163rem), 1fr));
    row-gap: 10px;
    margin-block-end: 45px;
}

@media (width >= 1220px){
    .audience__list li:nth-child(3) {
        order: 2;
    }
    .audience__list li:nth-child(2) {
        order: 3;
    }
    
    .audience__list li:nth-child(4) {
        order: 4;
    }
}

