.conception__list{
    display: grid;
    column-gap: 30px;
    row-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(290px,1fr));

}
@media (width >= 1024px){
    .conception__list{
        grid-template-columns: repeat(auto-fit, minmax(170px,1fr));
    
    }
}