.timetable__schedule-time{
    color: #28337c;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    inline-size: 100%;
    /* padding-inline:30px; */
}

@media (width >=768px){
    .timetable__schedule-time{
    max-inline-size: 197px;
    /* padding-inline:10px; */

    }
}