.timetable__schedule-time{
    color: #28337c;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    inline-size: 100%;

}

@media (width >=768px){
    .timetable__schedule-time{
    max-inline-size: 197px;


    }
}

@media (width >= 916px){
    .timetable__schedule-time{
        padding-inline:30px;
        padding-block: 15px;
        background-color: #EDEDED;
    }
}