@import './vendor/normalize.css';
@import './vendor/global.css';
@import './vendor/fonts/fonts.css';
@import './vendor/fonts/geometria/index.css';
@import './blocks/container/container.css';
@import './blocks/header/header.css';
@import './blocks/primary-button/primary-button.css';
@import './blocks/hero/hero.css';
@import './blocks/swiper/swiper.css';
@import './blocks/form/form.css';
@import './blocks/wp.css';
@import './blocks/mission/mission.css';
@import './blocks/programm/programm.css';
@import './blocks/audience/audience.css';
@import './blocks/contact/contact.css';
@import './blocks/footer/footer.css';
@import './blocks/conception/coneption.css';
@import './animation/keyframes.css';
@import './blocks/speakers/speakers.css';
@import './blocks/timetable/timetable.css';



html{
    scroll-behavior: smooth;
}

.root{
    font-family: "Geometria", sans-serif;;
    font-weight: normal;
    font-style: normal;
    background-color: #FFF;
    overflow-x: hidden;
    position: relative;
}

.span-accent{
    font-weight: 700;
}
.section-title{
    color: #0E4E93;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}


.timetable__schedule-description-mbe{
    margin-block-end: 25px;
}

.main{
    position: relative;
    overflow: hidden;

}


  @media (width <= 768px){


    .burger-menu {
        cursor: pointer;
        display: inline-block;
        padding: 10px;
      }
      
      .burger-line {
        width: 30px;
        height: 3px;
        background-color: #000;
        margin: 6px 0;
        z-index: 55;
        position: relative;
      }
      
      .side-navbar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #f4f4f4;
        overflow-x: hidden;
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        align-self: start;
        justify-content: center;
        gap: 25px;
      }
      
      .side-navbar-open {
       max-inline-size: 450px;
       inline-size: 100%;
      }
  }