@import './vendor/normalize.css';
@import './vendor/global.css';
@import './vendor/fonts/fonts.css';
@import './blocks/container/container.css';
@import './blocks/header/header.css';
@import './blocks/primary-button/primary-button.css';
@import './blocks/hero/hero.css';
@import './blocks/swiper/swiper.css';
@import './blocks/form/form.css';
@import './blocks/wp.css';
@import './blocks/mission/mission.css';
@import './blocks/programm/programm.css';
@import './blocks/audience/audience.css';
@import './blocks/contact/contact.css';
@import './blocks/footer/footer.css';
@import './blocks/conception/coneption.css';
@import './animation/keyframes.css';
@import './blocks/speakers/speakers.css';
@import './blocks/timetable/timetable.css';
@import './blocks/popup/popup.css';



html{
    scroll-behavior: smooth;
}

.root{
    font-family: "Geometria", sans-serif;;
    font-weight: normal;
    font-style: normal;
    background-color: #FFF;
    overflow-x: hidden;
    position: relative;
}

.span-accent{
    font-weight: 700;
}
.section-title{
    color: #0E4E93;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}


.timetable__schedule-description-mbe{
    margin-block-end: 25px;
}

.main{
    position: relative;
    overflow: hidden;

}
.success{
    display: flex;
    justify-content: center;
    inline-size: 100%;
}

.success__container{
    border-radius: 34px;
    background-color: #FFF;
    block-size: 465px;
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.success__message{
    color:#00c851;
    font-size: 18px;
    max-inline-size: 400px;
    text-align: center;
}

.error__message{
    color: #f0485e;
    font-size: 18px;
    max-inline-size: 400px;
    text-align: center;
}

.success-icon{
    max-inline-size: 100px;
    max-block-size: 100px;
    inline-size: 100%;
}

.alternate-link{
    max-inline-size: 400px;
    font-size: 18px;
    text-align: center;
    color: #0E4E93;

}
::-webkit-scrollbar {
    width: 7px;
  }
  

  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, #475DA7, #475DA7, #3f86ed,#04befe );
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: black;
  }
  

.header__nav-link_anchor{
    position: relative; 
    outline: none;

}

.header__nav-link_anchor::after {
    content: '';
    position: absolute;
    width: 0%; /* Начальная ширина border'a */
    height: 1px;
    background-color: #475DA7;
    bottom: 0;
    left: 0;
    transition: width 0.3s; 
}
@keyframes growBorder {
    0% { width: 0%; }
    100% { width: 100%; }
}

.header__nav-link_anchor:hover::after {
    animation: growBorder 0.3s forwards;
}

.header__nav-link_anchor:focus::after {
    animation: growBorder 0.3s forwards;
}

.tabs {
    width: 100%;
  }
  
  .tab-header {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: end
  }
  
  .tab-header-item {
    display: flex;
    max-inline-size: 400px;
    max-block-size: 85px;
    block-size: 100%;
    padding: 0px 24px 10px 24px;
    align-items: flex-end;
    gap: 10px;
    color: #ADAEB1;
    font-family: 'Geometria';
    font-size: 20px;
    font-style: normal;
    cursor: pointer;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-bottom: 2px solid #9FABC5;
    padding-inline-start: 20px;
    transition: color 0.3s, border-bottom-color 0.3s; /* Добавляем плавный переход цвета фона и цвета границы */
  }
  
.tab-header-item:hover{
  color: #28337ce0;
  border-bottom-color: #28337ce0;

}

  .tab-header-item.active {
    color: #28337C;
    border-bottom-color: #28337C;
    opacity: 1;
  }
  
  .tab-content-item {
    display: none;
    padding: 20px;
    animation: fadeIn 0.3s; /* Добавляем анимацию появления */
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .tab-content-item.active {
    display: block;
    animation: fadeIn 0.3s; /* Добавляем анимацию появления */
  }

  .contact__tel{
    color: #4A4A49;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
  }

  .contact__phones-wrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .contact__person{
    color: #3F3F3E;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    inline-size: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content.active {
    display: block;
    opacity: 1;
  }
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .header__dropdown-button_active{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }


  .title-star::after{
    content: '*';
    font-size: 40px;

  }


  /* Секция с картой */

  .map{
    background-image: url('./img/mon-map.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-block-end: 125px;
  }
  
  .section-title_map{
    margin-block-end: 117px;
    max-inline-size: 995px;
  }

  .map__heading-wrapper{
    border-bottom: 2px solid #38424f;
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-inline: auto;
    max-inline-size: 1152px;
    gap: clamp(1.25rem, -6.223rem + 19.928vw, 8.125rem);
    padding-inline-start: 52px;
    margin-block-end: 40px;
  }

  .map__heading{
    color: #38424F;
    font-size: 20px;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    margin-block-end: 30px;
  }

  .map__card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    min-block-size: 70px;
    padding-inline-start: clamp(1.25rem, 0.186rem + 4.255vw, 3.25rem);
    padding-block: 12px;
    gap: 4px clamp(1.25rem, -6.223rem + 19.928vw, 8.125rem) ;
    margin-inline: auto;
    max-inline-size: 1152px;
    border-radius: 10px;
    border: 1px solid #EBEBEB;
    background: rgba(255, 255, 255, 0.80);
  }

  .map__region{
    color: #38424F;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  
    margin-block-end: 18px;
  }
  
  .map__city{
    color: #28337C;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    margin-block-end: 18px;

  }

  .map__date{
    color: #38424F;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    margin-block-end: 18px;

  }

  .map__hidden-heading{
    font-size: 18px;
    font-weight: 800;
    color: #38424F;
    line-height: normal;
    text-transform: uppercase;
  }

  .map__city_unknown{
    color: #75808E;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
.map__date_unknown{
    color: #75808E;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.map__list{margin-block-end: 40px;}

.map__list li{
  margin-block-end: 16px;
}


.map__notification{
  color: #75808E;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  max-inline-size: 1152px;
  margin-inline-start: auto;
}
  @media (width >= 916px){
    .map__heading-wrapper{
      display: grid;
    }
    .map__hidden-heading{
      display: none;
    }
    .map__city_unknown{
      text-wrap: nowrap;
    }
    .map__region{
      max-inline-size: 220px;
    }
  }
